<center>
   <h1>home page inside user</h1> 
    <p style="color:red;" class="notice"><%= notice %></p>
    <p style="color:red;" class="alert"><%= alert %></p>
    <%= button_to "log out", destroy_user_session_path, method: :delete %>
</center>
